@font-face {
    font-family: "geist";
    src: url("../fonts/Geist-Regular.otf");
}

@font-face {
    font-family: "geist_light";
    src: url("../fonts/Geist-Light.otf");
}


ul {
    list-style-type: none;
    margin-bottom: 0px;
  }


body {
    background-color: #171B23;
}

header {
    width: 100%;
    height: 91px;
    border-bottom: 1px solid white;
    padding-top: 30px;
    padding-left: 8%;
}

a {
    text-decoration: none;
}

.navbar-link {
    transition: color 0.5s ease;
    color: white;
    font-size: 17px;
    margin: 25px;
    font-weight: 600;
}

.navbar-link:hover {
    color: #356CFB;

}

.active {
    color: #A170D9;
}

.price_button {
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
    height: 50px;
    background-color: #356CFB;
    border: 0px solid #356CFB;
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    margin-right: 7%;
    margin-top: -10px;
}

.price_button:hover {
    background-color: white;
    color: #356CFB;
}

.inner_img_div {
    border-bottom: 1px solid white;
    background-image: url("../img/back.png");
    background-size: 100%;
    width: 100%;
    height: 77vh;
}

.inner_img_div h1 {
    position: absolute;
    font-size: 55px;
    color: white;
    font-family: "geist";
    margin-left: 32%;
    margin-top: 5%;
}

.big_info {
    position: absolute;
    color: white;
    width: 45%;
    font-family: "geist";
    margin-top: 12%;
    margin-left: 50%;
    line-height: 30px;
    font-size: 14pt;
}

.small_info {
    position: absolute;
    color: white;
    width: 45%;
    font-family: "geist_light";
    margin-top: 22%;
    margin-left: 50%;
    line-height: 25px;
    font-size: 15px;
    font-weight: 200;
}

.left_info {
    width: 50%;
    height: 77vh;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.right_image {
    position: absolute;
    margin-top: -77vh;
    height: 77vh;
    width: 50%;
    margin-left: 50%;
    border-bottom: 1px solid white;
    background-image: url("../img/monets.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.big_info_2 {
    width: 40%;
    position: absolute;
    color: white;
    font-family: "geist";
    font-size: 17pt;
    margin-left: 5%;
    margin-top: 8%;
    line-height: 45px;
}

.small_info_2 {
    position: absolute;
    color: white;
    width: 40%;
    font-family: "geist_light";
    margin-top: 26%;
    margin-left: 5%;
    line-height: 33px;
    font-size: 18px;
    font-weight: 200;
}

.over_line {
    position: absolute;
    border-bottom: 1px solid white;
    width: 100px;
}

.story_div {
    padding-top: 5%;
    padding-bottom: 7%;
    text-align: center;
    position: relative;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 80%;
    left: 10%;
}

.story_div h2 {
    font-family: "geist_light";
    color: white;
    margin-left: -20%;
}

.ellipse {
    margin-left: 49.2%;
    background-color: #356CFB;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.line {
    width: 2px;
    height: 200px;
    background-color: #356CFB;
    margin-left: 50%;
}

.story_item {
    position: absolute;
}

.story_item img {
    width: 40px;
}

.year {
    position: absolute;
    font-size: 22pt;
    color: white;
    font-family: "geist";
}

.story_title {
    position: absolute;
    font-size: 17pt;
    color: white;
    font-family: "geist";
}

.story_content {
    text-align: left;
    width: 35%;
    position: absolute;
    font-size: 13pt;
    color: white;
    font-family: "geist_light";
}

.grey_line {
    position: absolute;
    width: 80%;
    border-bottom: 1px solid grey;
    margin-left: -8%;
    margin-top: 2%;

}

.low_links {
    border-top: 1px solid white;
    margin-bottom: 10%;
    padding-top: 30px;
    padding-left: 18%;
    
}

.footer_label {
    position: absolute;
    color: gray;
    margin-top: 3.5%;
    margin-left: 26%;
}

.blockchain_page {
    padding-top: 9%;
    padding-bottom: 6%;
    text-align: center;
    position: relative;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 80%;
    left: 10%;
}

.blockchain_page h1 {
    color: white;
    font-family: "geist";
    font-size: 55px;
}

.blockchain_description {
    width: 55%;
    font-family: "geist";
    color: lightgray;
    font-size: 18pt;
    margin-left: 22%;
    margin-top: 3.5%;
}

.blockchain_role_info {
    width: 50%;
    height: 67vh;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    margin-top: 10%;
}

.blockchain_role_info h2 {
    color: white;
    font-family: "geist";
    margin-top: 10%;
    margin-left: -40%;
}

.blockchain_role_info .big_info_2 {
    margin-top: 4%;
    text-align: left;
}

.blockchain_role_img {
    position: absolute;
    margin-top: -67vh;
    height: 67vh;
    width: 50%;
    margin-left: 50%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    background-image: url("../img/blockchain.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.blockchain_functions_img {
    height: 59vh;
    width: 50%;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-right: 1px solid white;
    background-image: url("../img/blockchain_2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.blockchain_functions {
    width: 50%;
    margin-left: 50%;
    margin-top: -59vh;
    height: 59vh;
    border-bottom: 1px solid white;
}

.blockchain_functions .big_info_2 {
    margin-top: 4%;
    text-align: left;
}

.blockchain_page h2 {
    color: white;
    font-family: "geist";
    font-size: 35px;
    margin-top: 7%;
}

.blockchain_code_image {
    margin-top: 5%;
    width: 80%;
}

.blockchain_res_image {
    margin-top: 10%;
    width: 80%;
}

.list_of_principles {
    list-style-type: none;
}

.list_item {
    text-align: center;
    font-family: "geist";
    margin-top: 6%;
}

.list_img {
    margin-left: -28.7%;
}

.item_title {
    color: white;
    font-size: 23pt;
    margin-left: 1.5%;

}

.item_content {
    text-align: left;
    color: lightgray;
    font-size: 15pt;
    width: 50%;
    margin-left: 25%;
    margin-top: 1.5%;
}

.inner_page {
    position: relative;
}

.contract_role_img {
    position: absolute;
    margin-top: -73vh;
    height: 73vh;
    width: 50%;
    margin-left: 50%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    background-image: url("../img/contract2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.contract_functions_img {
    height: 73vh;
    width: 50%;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-right: 1px solid white;
    background-image: url("../img/contract1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.contract_functions {
    width: 50%;
    margin-left: 50%;
    margin-top: -73vh;
    height: 73vh;
    border-bottom: 1px solid white;
}

.contract_role_info {
    width: 50%;
    height: 73vh;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    margin-top: 10%;
}

.contract_role_info .big_info_2 {
    margin-top: 6%;
    text-align: left;
}

.contract_functions .big_info_2 {
    margin-top: 11%;
    text-align: left;
}

.mining_role_img {
    position: absolute;
    margin-top: -67vh;
    height: 67vh;
    width: 50%;
    margin-left: 50%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    background-image: url("../img/mining2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.mining_functions_img {
    height: 73vh;
    width: 50%;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-right: 1px solid white;
    background-image: url("../img/mining1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.mining_functions {
    width: 50%;
    margin-left: 50%;
    margin-top: -73vh;
    height: 73vh;
    border-bottom: 1px solid white;
}

.mining_role_info {
    width: 50%;
    height: 67vh;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    margin-top: 10%;
}

.mining_role_info .big_info_2 {
    margin-top: 7%;
    text-align: left;
}

.mining_functions .big_info_2 {
    margin-top: 7%;
    text-align: left;
}

.mining_prirode_info {
    width: 50%;
    height: 67vh;
    border-top: 1px solid white;
    border-right: 1px solid white;
    margin-top: 10%;
}

.mining_prirode_img {
    position: absolute;
    margin-top: -67vh;
    height: 67vh;
    width: 50%;
    margin-left: 50%;
    border-top: 1px solid white;
    background-image: url("../img/priroda.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.mining_prirode_info .big_info_2 {
    margin-top: 3%;
    text-align: left;
}

.influence_role_img {
    position: absolute;
    margin-top: -72vh;
    height: 72vh;
    width: 50%;
    margin-left: 50%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    background-image: url("../img/economy1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.influence_third_img {
    position: absolute;
    margin-top: -73vh;
    height: 73vh;
    width: 50%;
    margin-left: 50%;
    background-image: url("../img/economy3.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.influence_functions_img {
    height: 73vh;
    width: 50%;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-right: 1px solid white;
    background-image: url("../img/economy2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.influence_functions {
    width: 50%;
    margin-left: 50%;
    margin-top: -73vh;
    height: 73vh;
    border-bottom: 1px solid white;
}

.influence_role_info {
    width: 50%;
    height: 72vh;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    margin-top: 10%;
}

.influence_role_info .big_info_2 {
    margin-top: 3%;
    text-align: left;
}

.influence_functions .big_info_2 {
    margin-top: 3%;
    text-align: left;
}

.influence_prirode_info .big_info_2 {
    margin-top: 3%;
    text-align: left;
}