@font-face {
    font-family: "geist";
    src: url("../fonts/Geist-Regular.otf");
}

@font-face {
    font-family: "geist_light";
    src: url("../fonts/Geist-Light.otf");
}

body {
    background-color: #171B23;
}

header {
    width: 100%;
    height: 91px;
    border-bottom: 1px solid white;
    padding-top: 30px;
    padding-left: 10%;
}

a {
    text-decoration: none;
}

.navbar-link {
    color: white;
    font-size: 17px;
    margin: 25px;
    font-weight: 600;
}

.navbar-link:hover {
    color: #356CFB;

}

.active {
    color: #A170D9;
}

.price_button {
    height: 50px;
    background-color: #356CFB;
    border: 1px solid #356CFB;
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    margin-right: 5%;
    margin-top: -10px;
}

.price_button:hover {
    background-color: white;
    color: #356CFB;
    border: 1px solid white;
}

.inner_img_div {
    border-bottom: 1px solid white;
    background-image: url("../img/back.png");
    background-size: 100%;
    width: 100%;
    height: 77vh;
}

.inner_img_div h1 {
    position: absolute;
    font-size: 55px;
    color: white;
    font-family: "geist";
    margin-left: 32%;
    margin-top: 5%;
}

.big_info {
    position: absolute;
    color: white;
    width: 45%;
    font-family: "geist";
    margin-top: 12%;
    margin-left: 50%;
    line-height: 30px;
    font-size: 14pt;
}

.small_info {
    position: absolute;
    color: white;
    width: 45%;
    font-family: "geist_light";
    margin-top: 22%;
    margin-left: 50%;
    line-height: 25px;
    font-size: 15px;
    font-weight: 200;
}

.left_info {
    width: 50%;
    height: 77vh;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.right_image {
    position: absolute;
    margin-top: -77vh;
    height: 77vh;
    width: 50%;
    margin-left: 50%;
    border-bottom: 1px solid white;
    background-image: url("../img/monets.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.big_info_2 {
    width: 40%;
    position: absolute;
    color: white;
    font-family: "geist";
    font-size: 17pt;
    margin-left: 5%;
    margin-top: 8%;
    line-height: 45px;
}

.small_info_2 {
    position: absolute;
    color: white;
    width: 40%;
    font-family: "geist_light";
    margin-top: 26%;
    margin-left: 5%;
    line-height: 33px;
    font-size: 18px;
    font-weight: 200;
}

.over_line {
    position: absolute;
    border-bottom: 1px solid white;
    width: 100px;
}

.story_div {
    text-align: center;
    position: absolute;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 80%;
    left: 10%;
}

.story_div h2 {
    font-family: "geist_light";
    color: white;
    margin-left: -20%;
    margin-top: 5%;
}

.ellipse {
    margin-left: 49.2%;
    background-color: #356CFB;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.line {
    width: 2px;
    height: 200px;
    background-color: #356CFB;
    margin-left: 50%;
}

.story_item {
    position: absolute;
}

.story_item img {
    width: 40px;
}

.year {
    position: absolute;
    font-size: 22pt;
    color: white;
    font-family: "geist";
}

.story_title {
    position: absolute;
    font-size: 17pt;
    color: white;
    font-family: "geist";
}

.story_content {
    text-align: left;
    width: 35%;
    position: absolute;
    font-size: 13pt;
    color: white;
    font-family: "geist_light";
}

.grey_line {
    position: absolute;
    width: 80%;
    border-bottom: 1px solid grey;
    margin-left: -8%;
    margin-top: 2%;

}

.low_links {
    border-top: 1px solid white;
    margin-bottom: 10%;
    padding-top: 30px;
    padding-left: 18%;
    
}

.footer_label {
    position: absolute;
    color: gray;
    margin-top: 3.5%;
    margin-left: 26%;
}