{% extends "base.html" %}
{% block main %}
  <div class="blockchain_page" style="padding-bottom: 0%;">
    <h1>Влияние <span style="color: #356CFB;">криптовалют</span> на экономику</h1>
    <div class="blockchain_description">
        Исследование влияния криптовалют на мировую экономику и финансовые системы является 
        одним из наиболее актуальных и дискуссионных вопросов в современной экономике. 
        Криптовалюты, такие как биткойн, эфириум и другие, стали популярными в последние 
        годы, и их влияние на мировую экономику и финансовые системы становится все 
        более заметным.
    </div>
    <div class="influence_role_info">
        <div class="big_info_2">
            <div class="over_line"></div><br>
            С одной стороны, <span style="color: #356CFB;">криптовалюты</span> могут оказать <span style="color: #356CFB;">положительное влияние</span> на мировую 
            экономику, поскольку они обеспечивают <span style="color: #356CFB;">быстрые</span> и <span style="color: #356CFB;">дешевые</span> транзакции, 
            а также позволяют людям, которые не имеют доступа к традиционным 
            финансовым услугам, <span style="color: #356CFB;">принимать участие</span> в глобальной экономике. Кроме того, 
            криптовалюты могут <span style="color: #356CFB;">стимулировать инновации</span> и развитие новых технологий, 
            таких как блокчейн.
        </div>
    </div>
    <div class="influence_role_img"></div>
    <div class="influence_functions_img"></div>
    <div class="influence_functions">
        <div class="big_info_2">
            <div class="over_line"></div><br>
            С другой стороны, <span style="color: #356CFB;">криптовалюты</span> также могут оказать <span style="color: #356CFB;">негативное</span> влияние на мировую 
            экономику и финансовые системы. Они могут привести к <span style="color: #356CFB;">финансовым пирамидам</span> 
            и <span style="color: #356CFB;">мошенничеству</span>, а также могут использоваться для <span style="color: #356CFB;">незаконных</span> целей, таких 
            как отмывание денег и финансирование терроризма. Кроме того, криптовалюты 
            могут создавать <span style="color: #356CFB;">финансовую нестабильность</span> и <span style="color: #356CFB;">риски</span> для традиционных финансовых 
            институтов.
        </div>
    </div>
    <div class="influence_role_info" style="margin-top: 0%; border-top: none; height: 73vh; border-bottom: none;">
        <div class="big_info_2" style="margin-top: 2%;">
            <div class="over_line"></div><br>
            <span style="color: #356CFB;">Криптовалюты</span>, как и любые новые технологии, имеют свои <span style="color: #356CFB;">преимущества</span> и 
            <span style="color: #356CFB;">риски</span>. Преимущества включают <span style="color: #356CFB;">быструю</span> и <span style="color: #356CFB;">децентрализованную</span> систему 
            передачи средств, а также возможность совершать транзакции без 
            необходимости участия традиционных финансовых институтов. Однако, 
            риски включают <span style="color: #356CFB;">высокую волатильность</span> криптовалют, а также возможность 
            использования их для <span style="color: #356CFB;">незаконных целей</span>, таких как отмывание денег и 
            финансирование терроризма.
        </div>
    </div>
    <div class="influence_third_img"></div>
  </div>
{% endblock %}