{% extends "base.html" %}
{% block main %}
  <div class="inner_img_div">
    <h1>Термин "<span style="color: #356CFB;">криптовалюта</span>"</h1>
    <div class="big_info">
      Криптовалюта – это цифровая платежная система, при проверке транзакций в которой не участвуют банки. 
      Это система с равноправными участниками, позволяющая любому пользователю, находящемуся в любом месте, 
      отправлять и получать платежи. 
    </div>
    <div class="small_info">
      Криптовалютные платежи существуют исключительно в цифровом виде в онлайн-базе данных, описывающей конкретные транзакции.
      Они не подразумевают операций с физическими деньгами, имеющими хождение и возможности обмена обмен в реальном мире.
      При переводе средств в криптовалюте, транзакции записываются в публичный реестр. Криптовалюта хранится в цифровых кошельках.
    </div>
  </div>
  <div>
    <div class="left_info">
      <div class="big_info_2">
        <div class="over_line"></div><br>
        Термин <span style="color: #356CFB;">Криптовалюта</span> вошел в обиход благодаря тому, что для проверки транзакций 
        используется <span style="color: #356CFB;">шифрование</span> 
        (криптография). Цель шифрования – обеспечить надежность и безопасность.
      </div>
      <div class="small_info_2">
        Первой криптовалютой стал <span style="color: #356CFB;">Bitcoin</span>, созданный в 2009 году и самый известный на
         сегодняшний день. Торговля криптовалютами интересна
         с точки зрения получения <span style="color: #356CFB;">прибыли</span>; в результате спекулятивных действий
          периодически наблюдаются скачки цен на <span style="color: #356CFB;">криптовалюты</span>.
      </div>
    </div>
    <div class="right_image"></div>
  </div>
  <div class="story_div">
    <h2>История возникновения криптовалют</h2>

    <div class="ellipse" style="margin-top: 10%;"></div>
    <div class="year" style="margin-left: 38%; margin-top: -2.5%;">2009</div>
    <div class="story_item" style="margin-left: 55%; margin-top: -7.9%;">
      <img src="{{ url_for('static', path='/img/story_item_1.png') }}" alt="">
    </div>
    <div class="story_title" style="margin-left: 60.5%; margin-top: -7.5%;">Криптовалюты</div>
    <div class="story_content" style="margin-left: 55%; margin-top: -2%;">
      История Bitcoin (первой децентрализованной криптовалюты) начинается с первого блока 
      Bitcoin, который был создан 3 января 2009 года, а первый платеж был 
      произведен 12 января.
    </div>
    <div class="line" style="margin-top: 2%;"></div>
    
    <div class="ellipse" style="margin-top: 2%;"></div>
    <div class="year" style="margin-left: 55%; margin-top: -2.5%;">2014</div>
    <div class="story_item" style="margin-left: 13%; margin-top: -7.9%;">
      <img src="{{ url_for('static', path='/img/story_item_2.png') }}" alt="">
    </div>
    <div class="story_title" style="margin-left: 18.5%; margin-top: -7.5%;">Web3</div>
    <div class="story_content" style="margin-left: 13%; margin-top: -2%;">
      Web 3.0 (также известный как Web3) — это следующее поколение интернет-технологий, 
      которое в значительной степени опирается на машинное обучение, искусственный интеллект 
      и технологию блокчейн.
    </div>
    <div class="line" style="margin-top: 2%;"></div>

    <div class="ellipse" style="margin-top: 2%;"></div>
    <div class="year" style="margin-left: 38%; margin-top: -2.5%;">2015</div>
    <div class="story_item" style="margin-left: 55%; margin-top: -7.9%;">
      <img src="{{ url_for('static', path='/img/story_item_3.png') }}" alt="">
    </div>
    <div class="story_title" style="margin-left: 60.5%; margin-top: -7.5%;">Стейблкоины</div>
    <div class="story_content" style="margin-left: 55%; margin-top: -2%;">
      Стейблкоин — это децентрализованная криптовалюта, обеспеченная базовым активом, таким 
      как любая национальная валюта, товар, материальный актив, экономическая метрика 
      (индекс потребительских цен) или криптовалюта.
    </div>
    <div class="line" style="margin-top: 2%;"></div>

    <div class="ellipse" style="margin-top: 2%;"></div>
    <div class="year" style="margin-left: 55%; margin-top: -2.5%;">2016</div>
    <div class="story_item" style="margin-left: 13%; margin-top: -7.9%;">
      <img src="{{ url_for('static', path='/img/story_item_4.png') }}" alt="">
    </div>
    <div class="story_title" style="margin-left: 18.5%; margin-top: -7.5%;">NFT</div>
    <div class="story_content" style="margin-left: 13%; margin-top: -2%;">
      NFT — это цифровой токен, который содержит информацию о праве собственности на 
      определенный предмет или контент: графику, музыку, документы, программный код и т.д.
    </div>
    <div class="line" style="margin-top: 2%;"></div>

    <div class="ellipse" style="margin-top: 2%;"></div>
    <div class="year" style="margin-left: 38%; margin-top: -2.5%;">2016</div>
    <div class="story_item" style="margin-left: 55%; margin-top: -7.9%;">
      <img src="{{ url_for('static', path='/img/story_item_5.png') }}" alt="">
    </div>
    <div class="story_title" style="margin-left: 60.5%; margin-top: -7.5%;">DAO</div>
    <div class="story_content" style="margin-left: 55%; margin-top: -2%;">
      После создания блокчейна по всему миру стали появляться организации, основанные на 
      этой технологии, где решения принимаются не советом директоров, а пользователями 
      проекта. Такие компании называются DAO — децентрализованные автономные организации.
    </div>
    <div class="line" style="margin-top: 2%;"></div>

    <div class="ellipse" style="margin-top: 2%;"></div>
    <div class="year" style="margin-left: 55%; margin-top: -2.5%;">2017</div>
    <div class="story_item" style="margin-left: 13%; margin-top: -7.9%;">
      <img src="{{ url_for('static', path='/img/story_item_6.png') }}" alt="">
    </div>
    <div class="story_title" style="margin-left: 18.5%; margin-top: -7.5%;">GameFi</div>
    <div class="story_content" style="margin-left: 13%; margin-top: -2%;">
      GameFi — это амальгама слов Game и Finance. Оно относится к играм на основе блокчейна и децентрализованной цифровой валюте.
    </div>
    <div class="line" style="margin-top: 2%;"></div>

    <div class="ellipse" style="margin-top: 2%;"></div>
    <div class="year" style="margin-left: 38%; margin-top: -2.5%;">2018</div>
    <div class="story_item" style="margin-left: 55%; margin-top: -7.9%;">
      <img src="{{ url_for('static', path='/img/story_item_7.png') }}" alt="">
    </div>
    <div class="story_title" style="margin-left: 60.5%; margin-top: -7.5%;">Metaverse</div>
    <div class="story_content" style="margin-left: 55%; margin-top: -2%;">
      Metaverse (цифровая вселенная) — это виртуальный мир будущего, который будет существовать наряду с 
      физическим миром, «населенный» цифровыми аватарами реальных людей.
    </div>
    <div class="line" style="margin-top: 2%;"></div>

    <div class="ellipse" style="margin-top: 2%;"></div>
    <div class="year" style="margin-left: 55%; margin-top: -2.5%;">2022</div>
    <div class="story_item" style="margin-left: 13%; margin-top: -7.9%;">
      <img src="{{ url_for('static', path='/img/story_item_8.png') }}" alt="">
    </div>
    <div class="story_title" style="margin-left: 18.5%; margin-top: -7.5%;">Multichain</div>
    <div class="story_content" style="margin-left: 13%; margin-top: -2%; position: relative; margin-bottom: 7%;">
      Multichain — это технология блокчейна с открытым исходным кодом, которая позволяет 
      приложениям и протоколам подключаться к нескольким блокчейнам, делая их совместимыми с 
      данными из обеих цепей.
    </div>
  </div>
  <div class="low_links" style="margin-top: 158.3%;">
    <ul class="nav">
      <li class="navbar-item">
        <a class="navbar-link" aria-current="page" href="/">Введение</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" aria-current="page" href="/blockchain">Блокчейн</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" aria-current="page" href="/smart-contracts">Смарт - контракты</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" aria-current="page" href="/mining">Майнинг</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" aria-current="page" href="/regulation">Регулирование</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" aria-current="page" href="/influence">Влияние на экономику</a>
      </li>
    </ul>
    <div class="grey_line"></div>
    <p class="footer_label">Ⓒ 2024 Artemy Plokhikh</p>
  </div>
{% endblock %}