{% extends "base.html" %}
{% block main %}
  <div class="inner_img_div">
    <h1>Термин "<span style="color: #356CFB;">криптовалюта</span>"</h1>
    <div class="big_info">
      Криптовалюта – это цифровая платежная система, при проверке транзакций в которой не участвуют банки. 
      Это система с равноправными участниками, позволяющая любому пользователю, находящемуся в любом месте, 
      отправлять и получать платежи. 
    </div>
    <div class="small_info">
      Криптовалютные платежи существуют исключительно в цифровом виде в онлайн-базе данных, описывающей конкретные транзакции.
      Они не подразумевают операций с физическими деньгами, имеющими хождение и возможности обмена обмен в реальном мире.
      При переводе средств в криптовалюте, транзакции записываются в публичный реестр. Криптовалюта хранится в цифровых кошельках.
    </div>
  </div>
  <div>
    <div class="left_info">
      <div class="big_info_2">
        <div class="over_line"></div><br>
        Термин <span style="color: #356CFB;">Криптовалюта</span> вошел в обиход благодаря тому, что для проверки транзакций 
        используется <span style="color: #356CFB;">шифрование</span> 
        (криптография). Цель шифрования – обеспечить надежность и безопасность.
      </div>
      <div class="small_info_2">
        Первой криптовалютой стал <span style="color: #356CFB;">Bitcoin</span>, созданный в 2009 году и самый известный на
         сегодняшний день. Торговля криптовалютами интересна
         с точки зрения получения <span style="color: #356CFB;">прибыли</span>; в результате спекулятивных действий
          периодически наблюдаются скачки цен на <span style="color: #356CFB;">криптовалюты</span>.
      </div>
    </div>
    <div class="right_image"></div>
  </div>
{% endblock %}